@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

ul > li::marker {
    font-weight: bold;
  }

.bg-landy{
    background-color: #94C8A4;
}
.bg-landy-2{
    background-color: #E9F4ED;
}
.border-landy{
    border-color: #94C8A4;
}
.text-landy{
    color: #5c8b68;
}

.bg-tabs-active {
    background-color: #dddb77;
}
.bg-tabs-non {
    background-color: #eeedbd;
}

a:link {
  /* color: #E17367; */ /* Remove or comment this out */
  text-decoration: none;
}

/* Add this more specific rule at the end of your file */
p a:link, p a:visited, p a:hover, p a:active {
  color: #E17367 !important;
}
